  <% content_for(:title, t('.title')) %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <%= render 'edit_form', { post: @post } %>
      </div>
    </div>
  </div>

