<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h6>具体的に何が気になっているのかをここに書くとアドバイスがしやすくなります。(140文字まで)</h6>
      <%= render 'form', {post: @post}%>
    </div>
  </div>
</div>